{% extends "base.html" %}


{% block content %}
<main class="form-signin text-center container">

    {% if user_form.errors %}

    <div class="alert alert-danger">
        <strong>Error!</strong> 
        {{user_form.errors.username}} 
        {{user_form.errors.email}} 
        {{user_form.errors.password2}} 
    </div>

    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Create new account</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput1" name="username" placeholder="Username" required>
            <label for="floatingInput1">Username</label>
        </div>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput2" name="email" placeholder="Email" required>
            <label for="floatingInput2">Email</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput3" name="first_name" placeholder="Your name" required>
            <label for="floatingInput3">Your name</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput4" name="last_name" placeholder="Your surname" required>
            <label for="floatingInput4">Your surname</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword1" placeholder="Password" name="password" required>
            <label for="floatingPassword1">Password</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword2" placeholder="Repeat your Password"
                   name="password2" required>
            <label for="floatingPassword2">Repeat your Password</label>
        </div>

        <span>Additional Information (optional)</span>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput5" name="country" placeholder="country">
            <label for="floatingInput5">Country</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput6" name="city" placeholder="city">
            <label for="floatingInput6">City</label>
        </div>

        <label for="floatingInput7">Biography</label>
        <div class="form-floating">
            <textarea type="text" class="form-control" id="floatingInput7" name="bio" placeholder="bio"></textarea>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput8" name="tg_username" placeholder="Telegram username">
            <label for="floatingInput8">Telegram username</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput9" name="inst_username" placeholder="Instagram username">
            <label for="floatingInput9">Instagram username</label>
        </div>
        
        <label for="floatingInput10">Your photo</label>
        <div class=""> 
            <input type="file" class="form-control" id="floatingInput10" name="photo" accept="image/" style="margin-bottom: 10px">
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Create new account</button>
    </form>
</main>
{% endblock %}